@page "/tickets/edit/{id:int}"

@using BugTracker.Client.Helpers
@using Microsoft.AspNetCore.Authorization
@using BugTracker.Client.Models
@using BugTracker.Client.Services.Interfaces
@using BugTracker.Client.Components

@inject IProjectDTOService ProjectService
@inject ITicketDTOService TicketService
@rendermode InteractiveAuto
@attribute [Authorize]
@inject NavigationManager Nav

<PageTitle>Edit Ticket</PageTitle>

<AuthorizeView Context="ProjectEditPage">
    <Authorized>
        @if (ProjectEditPage.User.IsInRole("Admin") || ProjectEditPage.User.IsInRole("ProjectManager") && userInfo?.UserId == ProjectManager?.Id || userInfo?.UserId == ticketToEdit.SubmitterUserId || userInfo?.UserId == ticketToEdit.DeveloperUserId)
        {
            <div class="container">
                <h3>
                    Edit Ticket
                </h3>

                <EditForm Model="ticketToEdit" OnSubmit="HandleSubmit">
                    <DataAnnotationsValidator />
                    <div class="col-lg-4">
                        <div class="mb-2">
                            <label class="form-label">Ticket Title</label>
                            <InputText class="form-control" @bind-Value="ticketToEdit.Title" placeholder="@ticketToEdit.Title" />
                            <ValidationMessage For="() => ticketToEdit.Title" />
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Priority</label>
                            <InputSelect class="form-select" @bind-Value="ticketToEdit.Priority">
                                <option value="">
                                    Priority..
                                </option>
                                @foreach (TicketPriority priority in Enum.GetValues(typeof(TicketPriority)))
                                {
                                    <option value="@priority">
                                        @priority.GetDisplayName()
                                    </option>
                                }
                            </InputSelect>
                            <ValidationMessage For="() => ticketToEdit.Priority" />
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Type</label>
                            <InputSelect class="form-select" @bind-Value="ticketToEdit.Type">
                                <option value="">
                                    Type....
                                </option>
                                @foreach (TicketType type in Enum.GetValues(typeof(TicketType)))
                                {
                                    <option value="@type">
                                        @type.GetDisplayName()
                                    </option>
                                }
                            </InputSelect>
                            <ValidationMessage For="() => ticketToEdit.Priority" />
                        </div>
                    </div>
                    <div class="col-lg-8 vstack gap-2">
                        <div class="flex-fill vstack">
                            <label class="form-label">Description</label>
                            <InputText class="form-control" @bind-Value="ticketToEdit.Description" rows="5" />
                            <ValidationMessage For="() => ticketToEdit.Description" />
                        </div>
                    </div>
                    <div class="col-12 text-end">
                        <div class="form-check">
                            <label class="form-check-label">
                                <InputCheckbox class="form-check-input" @bind-Value="ticketToEdit.IsArchived" />
                                Archive
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </EditForm>
            </div>
        }
        else
        {
            <h1 class="justify-content-center">You are not authorized to view this page.</h1>
            <a class="justify-content-center btn btn-danger" href="companies/index">Back to home</a>
        }
    </Authorized>
</AuthorizeView>


@code {
    [Parameter]
    public int Id { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState>? AuthStateTask { get; set; }

    private UserInfo? userInfo;
    private TicketDTO ticketToEdit = new TicketDTO();
    private IEnumerable<ProjectDTO> projects = [];
    private IEnumerable<TicketDTO> tickets = [];
    private UserDTO? ProjectManager;

    protected override async Task OnInitializedAsync()
    {
        userInfo = await UserInfoHelper.GetUserInfoAsync(AuthStateTask);
        ticketToEdit = (await TicketService.GetTicketByIdAsync(Id, userInfo!.CompanyId))!;
        projects = await ProjectService.GetAllProjectsAsync(userInfo!.CompanyId);
        ProjectManager = await ProjectService.GetProjectManagerAsync(Id, userInfo!.CompanyId);
    }


    private async Task HandleSubmit()
    {
        try
        {
            ticketToEdit!.SubmitterUserId = userInfo!.UserId;

            await TicketService.UpdateTicketAsync(ticketToEdit, userInfo!.CompanyId, userInfo!.UserId);

            Nav.NavigateTo("tickets/index");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            throw;
        }
    }


}

